Repository DKU-STUDY/Algorithm, pull requests merged in 2020-10, with the labels that each got.

#487 [level02] 짝지어 제거하기
  programmers/난이도별/level02.짝지어_제거하기/eyabc.js
Labels: EASY, JavaScript, stack, 문자열, 프로그래머스

#486 [level02]짝지어_제거하기
  programmers/난이도별/level02.짝지어_제거하기/HyeonJeong.py
  programmers/난이도별/level02.짝지어_제거하기/README.md
Labels: EASY, Python, stack, 문자열, 프로그래머스

#491 BOJ.1697 술래잡기
  BOJ/solved.ac_class/Class03/1620.나는야 포캣몬 마스터 이다솜/sAp00n.py
  BOJ/solved.ac_class/Class03/1697.숨바꼭질/sAp00n.py
  BOJ/solved.ac_class/Class03/1697.숨바꼭질/test_case.md
Labels: BOJ, EASY, Python

#488 [Leetcode] Minimum Window Substring
  LeetCode/Sliding_Window/Minimum_Window_Substring/JeongShin.js
Labels: HARD, JavaScript, leetcode

#490 [level02] 더_맵게
  programmers/난이도별/level02.더 맵게/HyeonJeong.py
Labels: Python, 도움요청, 프로그래머스

#493 [level02] 다리를_지나는_트럭, 다음_큰_숫자
  programmers/난이도별/level02.다리를_지나는_트럭/README.md
  programmers/난이도별/level02.다리를_지나는_트럭/sjjyy.java
  programmers/난이도별/level02.다음_큰_숫자/README.md
  programmers/난이도별/level02.다음_큰_숫자/sjjyy.java
Labels: EASY, JAVA, 프로그래머스

#494 [leetcode] palindrome pairs 풀이
  LeetCode/Trie/Palindrome_Pairs/JeongShin.js
Labels: HARD, JavaScript, leetcode

#495 [level01] 소수찾기, 약수의 합, 이상한 문자 만들기, 자리수 더하기, 자연수 뒤집어 배열로 만들기, 정수 내림차순으로 배치하기, 정수 제곱근 판별
  programmers/난이도별/level01.소수찾기/eyabc.js
  programmers/난이도별/level01.약수의_합/eyabc.js
  programmers/난이도별/level01.이상한_문자_만들기/eyabc.js
  programmers/난이도별/level01.자릿수_더하기/eyabc.js
  programmers/난이도별/level01.자연수_뒤집어_배열로_만들기/eyabc.js
  programmers/난이도별/level01.정수_내림차순으로_배치하기/eyabc.js
  programmers/난이도별/level01.정수_제곱근_판별/eyabc.js
Labels: EASY, JavaScript, 프로그래머스

#500 [level01] 문자열 내 마음대로 정렬하기
  programmers/난이도별/level01.문자열_내_마음대로_정렬하기/HyeonJeong.py
Labels: NOMAL, Python, 도움요청

#502 [level02]멀쩡한_사각형
  programmers/난이도별/level02.멀쩡한_사각형/s2uyeoii.cpp
Labels: C, EASY, 프로그래머스

#499 [Trie]Palindrome_Pairs
  LeetCode/Trie/Palindrome_Pairs/eyabc.js
  자료구조/Trie.js
Labels: HARD, JavaScript, leetcode

#498 BOJ 1764. 듣보잡, 1927.최소 힙
  BOJ/solved.ac_class/Class03/1764.듣보잡/sAp00n.py
  BOJ/solved.ac_class/Class03/1927.최소 힙/sAp00n.py
Labels: BOJ, EASY, Python

#503 BOJ 1699.제곱수의 합
  BOJ/1699.제곱수의 합/제곱수의_합_1699.py
Labels: BOJ, EASY, Python

#505 [Binary_Search]Minimum_Size_Subarray_Sum
  LeetCode/Binary_Search/Minimum_Size_Subarray_Sum/eyabc.js
  라이브러리/Trie.js
  라이브러리/lowerBound.js
  라이브러리/prefixSum.js
Labels: EASY, JavaScript, leetcode

#497 [level02] 더 맵게
  programmers/난이도별/level02.더 맵게/sjjyy.java
Labels: EASY, JAVA, 프로그래머스

#504 [LeetCode] Min Size Subarray Sum 풀이
  LeetCode/Binary_Search/Minimum_Size_Subarray_Sum/JeongShin.js
Labels: JavaScript, NOMAL, leetcode

#506 [문자열] 2020 11st 1 번 문제 / 폴더 정리
  codility_training/11st/2020/1/eyabc.js
  codility_training/11st/2020/1/junilhwang.js
  codility_training/11st/2020/2/junilhwang.js
  codility_training/11st/2020/3/junilhwang.js
Labels: EASY, JavaScript

#507 [Level02]다리를 지나는 트럭
  programmers/난이도별/level02.다리를_지나는_트럭/dkdlelk99.py
Labels: Python, 프로그래머스

#509 [level02]다리를 지나는 트럭
  programmers/난이도별/level02.다리를_지나는_트럭/eyabc.js
Labels: JavaScript, NORMAL, stack, 프로그래머스

#512 [level02] 위장
  programmers/난이도별/level02.위장/eyabc.js
Labels: EASY, JavaScript, 프로그래머스, 해시

#511 [level02] 위장
  programmers/난이도별/level02.위장/sjjyy.java
Labels: EASY, JAVA, 프로그래머스, 해시

#508 [LeetCode] Array TwoSum
  LeetCode/Array/TwoSum/HyeonJeong.py
Labels: EASY, Python, leetcode

#514 [level01] 모의고사, K번째 수
  programmers/난이도별/level01.K번째수/sangmandu.py
  programmers/난이도별/level01.모의고사/sangmandu.py
Labels: EASY, Python, 프로그래머스

#515 [level02.주식가격]
  programmers/난이도별/level02.주식가격/s2uyeoii.cpp
Labels: C, EASY, 프로그래머스

#489 [level01] 소수찾기, 약수의_합, 이상한_문자_만들기
  programmers/난이도별/level01.소수찾기/khw970421.js
  programmers/난이도별/level01.약수의_합/khw970421.js
  programmers/난이도별/level01.이상한_문자_만들기/khw970421.js
  programmers/난이도별/level01.자릿수_더하기/khw970421.js
  programmers/난이도별/level01.자연수_뒤집어_배열로_만들기/khw970421.js
  programmers/난이도별/level01.정수_내림차순으로_배치하기/khw970421.js
  programmers/난이도별/level01.정수_제곱근_판별/khw970421.js
  programmers/난이도별/level01.제일_작은_수_제거하기/khw970421.js
  programmers/난이도별/level01.짝수와_홀수/khw970421.js
  programmers/난이도별/level01.최대공약수와_최소공배수/khw970421.js
  programmers/난이도별/level01.콜라츠_추측/khw970421.js
Labels: JavaScript, 프로그래머스

#518 [level02]전화번호_목록
  programmers/난이도별/level02.전화번호_목록/eyabc.js
Labels: EASY, JavaScript, 문자열, 프로그래머스

#519 [DFS]Course_Schedule
  LeetCode/DFS/Course_Schedule/eyabc.js
  라이브러리/topology.js
Labels: JavaScript, NORMAL, leetcode

#513 [level02] 전화번호 목록
  programmers/난이도별/level02.전화번호_목록/sjjyy.java
Labels: EASY, JAVA, 프로그래머스, 해시

#510 BOJ 1931.회의실 배정 2630.색종이 만들기
  BOJ/solved.ac_class/Class03/1931. 회의실배정/sAp00n.py
  BOJ/solved.ac_class/Class03/2630.색종이 만들기/sAp00n.py
Labels: BOJ, EASY, Python, 코드리뷰

#521 [level01] 2016년, 3진법 뒤집기, 체육복
  programmers/난이도별/level01.2016년/sangmandu.py
  programmers/난이도별/level01.3진법 뒤집기/sangmandu.py
  programmers/난이도별/level01.두 개 뽑아서 더하기/sangmandu.py
  programmers/난이도별/level01.체육복/sangmandu.py
  programmers/난이도별/level01.크레인_인형뽑기_게임/sangmandu.py
  programmers/난이도별/level02.튜플/sangmandu.py
Labels: EASY, Python, 프로그래머스

#520 [level01]최대공약수와 최소공배수, 콜라츠 추측, 평균구하기, 하샤드 수, 핸드폰 번호 가리기
  programmers/난이도별/level01.최대공약수와_최소공배수/eyabc.js
  programmers/난이도별/level01.콜라츠_추측/eyabc.js
  programmers/난이도별/level01.평균_구하기/eyabc.js
  programmers/난이도별/level01.하샤드_수/eyabc.js
  programmers/난이도별/level01.핸드폰_번호_가리기/eyabc.js
Labels: EASY, JavaScript, 프로그래머스

#516 [dfs]course_schedule
  LeetCode/DFS/Course_Schedule/JeongShin.js
Labels: JavaScript, NORMAL, leetcode

#522 [Math] Add Digit
  LeetCode/Math/Add_Digits/HyeonJeong.py
Labels: EASY, Python, leetcode

#523 [level02] 주식 가격
  programmers/난이도별/level02.주식가격/sjjyy.java
Labels: EASY, JAVA, 프로그래머스

#525 [level01] 가운데 글자 가져오기, 같은 숫자는 싫어, 나누어 떨어지는 숫자 배열, 두 정수 사이의 합
  programmers/난이도별/level01.가운데_글자_가져오기/sangmandu.py
  programmers/난이도별/level01.같은_숫자는_싫어/sangmandu.py
  programmers/난이도별/level01.나누어_떨어지는_숫자_배열/sangmandu.py
  programmers/난이도별/level01.두_정수_사이의_합/sangmandu.py
  programmers/난이도별/level01.문자열_내_p와_y의_개수/sangmandu.py
  programmers/난이도별/level01.문자열_내_마음대로_정렬하기/sangmandu.py
  programmers/난이도별/level01.문자열_내림차순으로_배치하기/sangmandu.py
  programmers/난이도별/level01.문자열_다루기_기본/sangmandu.py
  programmers/난이도별/level01.문자열을_정수로_바꾸기/sangmandu.py
  programmers/난이도별/level01.서울에서_김서방_찾기/sangmandu.py
  programmers/난이도별/level01.소수찾기/sangmandu.py
  programmers/난이도별/level01.수박수박수박수/sangmandu.py
Labels: EASY, Python, 프로그래머스

#529 [level02] 짝지어 제거하기
  programmers/난이도별/level02.짝지어_제거하기/sjjyy.java
Labels: EASY, JAVA, 프로그래머스

#517 [level01] 콜라츠_추측, 최대공약수와 최소공배수
  programmers/난이도별/level01.최대공약수와_최소공배수/khw970421.js
  programmers/난이도별/level01.콜라츠_추측/khw970421.js
  programmers/난이도별/level01.평균_구하기/khw970421.js
  programmers/난이도별/level01.하샤드 수/khw970421.js
  programmers/난이도별/level01.핸드폰_번호_가리기/khw970421.js
Labels: JavaScript, 프로그래머스

#531 [level02] 최댓값과 최솟값
  programmers/난이도별/level02.최댓값과_최솟값/sjjyy.java
Labels: EASY, JAVA, 프로그래머스

#530 [dfs]Course_Schedule_II
  LeetCode/DFS/Course_Schedule_II/JeongShin.js
Labels: JavaScript, NORMAL, leetcode

#524 BOJ 7576 토마토, 7662 이중 우선순위 큐
  BOJ/solved.ac_class/Class03/2630.색종이 만들기/sAp00n.py
  BOJ/solved.ac_class/Class03/7576.토마토/sAp00n.py
  BOJ/solved.ac_class/Class03/7662.이중 우선순위 큐/sAp00n.py
Labels: BOJ, EASY, Python

#533 [DFS]Course_Schedule_II
  LeetCode/DFS/Course_Schedule_II/eyabc.js
Labels: JavaScript, NORMAL, leetcode

#526 [Math]Add_Digits
  LeetCode/Math/Add_Digits/eyabc.js
Labels: EASY, JavaScript, leetcode

#527 [level02]주식가격
  programmers/난이도별/level02.주식가격/eyabc.js
Labels: EASY, JavaScript, 프로그래머스

#528 [level01]가운데_글자_가져오기 ,같은_숫자는_싫어, 나누어_떨어지는_숫자_배열 , 두_정수_사이의_합
  programmers/난이도별/level01.가운데_글자_가져오기/eyabc.js
  programmers/난이도별/level01.같은_숫자는_싫어/eyabc.js
  programmers/난이도별/level01.나누어_떨어지는_숫자_배열/eyabc.js
  programmers/난이도별/level01.두_정수_사이의_합/eyabc.js
Labels: JavaScript, 프로그래머스

#537 [level02]카펫
  programmers/난이도별/level02.카펫/eyabc.js
Labels: EASY, JavaScript, 완전탐색, 프로그래머스

#534 [level02] 카펫
  programmers/난이도별/level02.최댓값과_최솟값/sjjyy.java
  programmers/난이도별/level02.카펫/sjjyy.java
Labels: EASY, JAVA, 프로그래머스

#538 [LeetCode] Missing Number & Runnung Sum of 1d Array
  LeetCode/Array/Missing_Number/HyeonJeong.py
  LeetCode/Array/Running_Sum_of_1d_Array/HyeonJeong.py
Labels: EASY, Python, leetcode

#536 [LeetCode] Redundant Connection
  LeetCode/Union_Find/Redundant_Connection/JeongShin.js
  LeetCode/Union_Find/Redundant_Connection_II/JeongShin.js
Labels: JavaScript, NORMAL, leetcode

#535 [level01]시저암호, 약수의 합, 이상한 문자 만들기, 자릿수 더하기, 자연수 뒤집어 배열로 만들기, 정수 내림차순으로 배치하기, 정수 제곱근 판별, 제일 작은 수 제거하기, 짝수와 홀수, 최대공약수와 최소공배수, 키패드 누르기, BOJ 7662 이중 우선순위 큐
  BOJ/7662.이중 우선순위 큐/sangmandu.py
  programmers/난이도별/level01.시저_암호/sangmandu.py
  programmers/난이도별/level01.약수의_합/sangmandu.py
  programmers/난이도별/level01.이상한_문자_만들기/sangmandu.py
  programmers/난이도별/level01.자릿수_더하기/sangmandu.py
  programmers/난이도별/level01.자연수_뒤집어_배열로_만들기/sangmandu.py
  programmers/난이도별/level01.정수_내림차순으로_배치하기/sangmandu.py
  programmers/난이도별/level01.정수_제곱근_판별/sangmandu.py
  programmers/난이도별/level01.제일_작은_수_제거하기/sangmandu.py
  programmers/난이도별/level01.짝수와_홀수/sangmandu.py
  programmers/난이도별/level01.최대공약수와_최소공배수/sangmandu.py
  programmers/난이도별/level01.키패드 누르기/sangmandu.py
Labels: BOJ, EASY, Python, 프로그래머스

#543 [DFS, Backtacking] Palindrome Partitioning
  LeetCode/Backtracking/Palindrome_Partitioning/JeongShin.js
Labels: JavaScript, NORMAL, leetcode

#541 BOJ 9095.1,2,3 더하기 BOJ 11279.최대 힙 BOJ 11399.ATM BOJ 11723.집합
  BOJ/solved.ac_class/Class03/11279.최대 힙/sAp00n.py
  BOJ/solved.ac_class/Class03/11399. ATM/sAp00n.py
  BOJ/solved.ac_class/Class03/11723.집합/sAp00n.py
  BOJ/solved.ac_class/Class03/7576.토마토/sAp00n.py
  BOJ/solved.ac_class/Class03/9095.1, 2, 3 더하기/sAp00n.py
Labels: BOJ, EASY, Python
