Repository DKU-STUDY/Algorithm, pull requests merged in 2020-12, with the labels that each got.

#616 [LeetCode] Remove Duplicates from Sorted Array
  LeetCode/Array/Remove_Duplicates_from_Sorted_Array/HyeonJeong.py
Labels: Python, leetcode

#629 [Level2]_[3차]_방금_그곡, [Level2]후보키
  programmers/난이도별/level02.[3차]_방금_그곡/6047198844.cpp
  programmers/난이도별/level02.후보키/6047198844.cpp
Labels: C++, NORMAL, 프로그래머스

#631 [Level02]단체사진_찍기 / [3차]파일명_정렬
  programmers/난이도별/level02.[3차]파일명_정렬/6047198844.cpp
  programmers/난이도별/level02.단체사진_찍기/6047198844.cpp
Labels: C++, EASY, 프로그래머스

#620 [Programmers Lv.1] 서울에서 김서방 찾기 (find_kim_from_array)
  programmers/난이도별/level01.서울에서_김서방_찾기/develop-sell.js
Labels: JavaScript

#633 [Leve02]수식_최대화
  programmers/난이도별/level02.수식_최대화/6047198844.cpp
Labels: C++, EASY, 프로그래머스

#630 [Programmers Lv.1] 체육복(탐욕법) greedy_problem_with_clothes
  programmers/난이도별/level01.체육복/develop-sell.js
Labels: JavaScript

#632 [LeetCode] Day of the Year
  LeetCode/Math/Day_of_the_Year/HyeonJeong.py
Labels: EASY, Python, leetcode

#626 [Level03] 가장 먼 노드, 큰 수 만들기
  programmers/난이도별/level02.큰_수_만들기/turquoiseluv.py
  programmers/난이도별/level03.가장먼노드/turquoiseluv.py
Labels: NORMAL, Python, 프로그래머스

#634 [level03]네트워크
  programmers/난이도별/level03.네트워크/6047198844.cpp
Labels: C++, EASY, 프로그래머스

#636 [Level01]키패드 누르기
  programmers/난이도별/level01.키패드 누르기/6047198844.cpp
Labels: C++, EASY, 프로그래머스

#635 [Programmers Lv.1] 3진법 뒤집기 ternary_problem
  programmers/난이도별/level01.3진법_뒤집기/develop-sell.js
Labels: JavaScript

#637 [Level01]크레인_인형뽑기_게임
  programmers/난이도별/level01.크레인_인형뽑기_게임/6047198844.cpp
Labels: C++, EASY, 프로그래머스

#638 [Programmers Lv.1] 완주하지 못한 선수 not_finished_runner
  programmers/난이도별/level01.완주하지_못한_선수/develop-sell.js
Labels: JavaScript

#640 [해시]Huffman Encoding&[map]숫자 고르기
  BOJ/2659.십자카드 문제/6047198844.cpp
  BOJ/2668.숫자 고르기/6047198844.cpp
  BOJ/6800.Huffman Encoding/6047198844.cpp
Labels: BOJ, C++, EASY, 해시

#643 [BFS]회장뽑기
  BOJ/1707.이분그래프/6047198844.cpp
  BOJ/2660.회장뽑기/6047198844.cpp
Labels: BOJ, C++, EASY

#644 [Programmers Lv.1] 제일 작은 수 삭제하기 delete_smallest_num
  programmers/난이도별/level01.제일_작은_수_제거하기/develop-sell.js
Labels: JavaScript

#642 [level03] 방문 길이, 여행경로
  programmers/난이도별/level03.방문_길이/sangmandu.py
  programmers/난이도별/level03.여행경로/sangmandu.py
Labels: NORMAL, Python, 프로그래머스

#639 [Trie] Replace Words 풀이
  LeetCode/Trie/Replace_Words/JeongShin.js
Labels: JavaScript, NORMAL, leetcode

#641 [LeetCode] Happy Number & Power of Three
  LeetCode/Math/Happy_Number/HyeonJeong.py
  LeetCode/Math/Power_of_Three/HyeonJeong.py
Labels: Python, leetcode

#645 [에라토스테네스의채]소인수분해
  BOJ/11653.소인수분해/6047198844.cpp
  BOJ/1707.이분그래프/.vscode/launch.json
Labels: BOJ, C++, EASY

#646 [백준]직사각형 네개의 합집합의 면적 구하기 + 질문
  BOJ/2651.자동차경주대회/2651_자동차경주대회.cpp
  BOJ/2669.직사각형 네개의 합집합의 면적 구하기/2669_직사각형 네개의 합집합의 면적 구하기.cpp
Labels: BOJ, C++, EASY

#650 [BFS]말이 되고픈 원숭이,안전 영역,바이러스
  BOJ/1600.말이 되고픈 원숭이/6047198844.cpp
  BOJ/2468.안전 영역/6047198844.cpp
  BOJ/2606.바이러스/6047198844.cpp
Labels: BOJ, C++, EASY

#648 [Programmers Lv.1] 약수의 합 factor_num
  programmers/난이도별/level01.약수의_합/develop-sell.js
Labels: JavaScript

#649 [Programmers Lv.1] 시저 암호 Caesar_cipher
  programmers/난이도별/level01.시저_암호/develop-sell.js
Labels: JavaScript

#651 [LeetCode] Majority Element
  LeetCode/Array/Marjority_Element/HyeonJeong.py
Labels: EASY, Python, leetcode

#653 [BFS]촌수계산
  BOJ/2644.촌수계산/6047198844.cpp
Labels: BOJ, C++, EASY

#655 [DP]피보나치의 수
  BOJ/2747.피보나치 수/6047198844.cpp
Labels: BOJ, C++, DP, EASY

#654 [Programmers Lv.1] 이상한_문자_만들기 make_strange_number
  programmers/난이도별/level01.이상한_문자_만들기/develop-sell.js
Labels: JavaScript

#652 [level03] 가장 긴 팰린드롬, 등굣길, 야근지수
  programmers/난이도별/level03.가장_긴_팰린드롬/sangmandu.py
  programmers/난이도별/level03.등굣길/sangmandu.py
  programmers/난이도별/level03.야근지수/sangmandu.py
Labels: NORMAL, Python, 프로그래머스

#656 [DP]점프, [DP]이동하기
  BOJ/11048.이동하기/6047198844.cpp
  BOJ/1890.점프/6047198844.cpp
Labels: BOJ, C++, DP, EASY

#657 [Programmers Lv.1] 자릿수_더하기 plus_numbers
  programmers/난이도별/level01.자릿수_더하기/develop-sell.js
Labels: JavaScript

#661 [투포인터]부분합
  BOJ/1806.부분합/6047198844.cpp
Labels: BOJ, C++, EASY

#660 [Programmers Lv.1] 자연수_뒤집어_배열로_만들기 reverse_numbers_array
  programmers/난이도별/level01.자연수_뒤집어_배열로_만들기/develop-sell.js
Labels: JavaScript

#658 [level03] 블록 이동하기
  programmers/난이도별/level03.블록_이동하기/sangmandu.py
Labels: NORMAL, Python, 프로그래머스

#663 [DFS]Two Dots
  BOJ/16929.Two Dots/6047198844.cpp
Labels: BOJ, C++, EASY

#664 [Programmers Lv.1] 정수 내림차순으로 배치하기 sort_number
  programmers/난이도별/level01.정수_내림차순으로_배치하기/develop-sell.js
Labels: JavaScript

#670 [Programmers Lv.1] 짝수와 홀수 odd and even
  programmers/난이도별/level01.짝수와_홀수/develop-sell.js
Labels: JavaScript

#668 [LeetCode] Complex Number Multiplication
  LeetCode/String/Complex_Number_Multiplication/HyeonJeong.py
Labels: EASY, Python, 문자열

#666 [Programmers Lv.1] 정수_제곱근_판별 distinction_num_sqrt
  programmers/난이도별/level01.정수_제곱근_판별/develop-sell.js
Labels: JavaScript

#667 [BFS]숨바꼭질3&[brute-force]암호 만들기
  BOJ/13549.숨바꼭질 3/6047198844.cpp
  BOJ/1759.암호만들기/6047198844.cpp
Labels: BOJ, C++, EASY

#672 [Programmers Lv.1] 콜라츠_추측 Collatz_problem
  programmers/난이도별/level01.콜라츠_추측/develop-sell.js
Labels: JavaScript

#665 Daily commit
  BOJ/10815.숫자 카드/rockmiin.py
  BOJ/1654.랜선 자르기/rockmiin_1654.py
  BOJ/5585.거스름 돈/rockmiin_5585.py
Labels: BOJ, Python

#671 [LeetCode] Rearrange Words in a Sentence
  LeetCode/String/Rearrange_Words_in_a_Sentence/HyeonJeong.py
Labels: EASY, Python, leetcode

#673 2839. 설탕 배달
  BOJ/2839.설탕 배달/rockmiin.py
Labels: BOJ, Python

#675 [LeetCode] Complement of Base 10 Integer
  LeetCode/Math/Complement_of_Base_10_Integer/HyeonJeong.py
Labels: EASY, Python, leetcode

#674 [BFS]이모티콘
  BOJ/14226.이모티콘/6047198844.cpp
Labels: BOJ, C++, EASY

#676 [Programmers Lv.1] 평균 구하기 find_average
  programmers/난이도별/level01.평균_구하기/develop-sell.js
Labels: JavaScript

#677 [LeetCode] Roman to Integer
  LeetCode/String/Roman_to_Integer/HyeonJoeng.py
Labels: EASY, Python, leetcode

#678 [BFS]알고스팟
  BOJ/1261.알고스팟/6047198844.cpp
Labels: BOJ, C++, EASY

#680 [분할정복]별찍기 - 10
  BOJ/2447.별찍기 - 10/6047198844.cpp
Labels: BOJ, C++, NORMAL

#679 [LeetCode] Letter Combinations of a Phone Number
  LeetCode/String/Letter_Combinations_of_a_Phone_Number/HyeonJeong.py
Labels: Python, leetcode

#682 [Programmers Lv.1 ]하샤드 수 hasHad_num
  programmers/난이도별/level01.하샤드_수/develop-sell.js
Labels: JavaScript

#681 [다이나믹프로그래밍]1,2,3더하기
  BOJ/9095.1,2,3 더하기/6047198844.cpp
Labels: BOJ, C++, EASY

#683 [LeetCode] Valid Parentheses
  LeetCode/String/Valid_Parentheses/HyeonJeong.py
Labels: Python, leetcode

#684 [완전탐색]차이를 최대로
  BOJ/10819.차이를 최대로/6047198844.cpp
Labels: BOJ, C++

#685 [LeetCode] Implement strStr() & Find_First_and_Last_Position_of_Element_in_Sorted_Array
  LeetCode/Array/Find_First_and_Last_Position_of_Element_in_Sorted_Array/HyeonJeong.py
  LeetCode/String/Implement_strStr()/HyeonJeong.py
Labels: Python, leetcode

#687 [그리디] ATM
  BOJ/11399.ATM/6047198844.cpp
Labels: BOJ, C++

#689 [LeetCode] Search Insert Position & Plus One
  LeetCode/Array/Plus_One/HyeonJeong.py
  LeetCode/Array/Search_Insert_Position/HyeonJeong.py
Labels: Python, leetcode

#686 1260. DFS와 BFS
  BOJ/1260.DFS와 BFS/rockmiin.py
Labels: BOJ, Python

#692 [LeetCode] Contains Duplicate
  LeetCode/Array/Contains_Duplicate/HyeonJeong.py
Labels: Python, leetcode

#690 [다이나믹프로그래밍]평범한 배낭
  BOJ/12865.평범한 배낭/6047198844.cpp
Labels: BOJ, C++, DP

#688 [Programmers Lv.1] x만큼 간격 있는 n개의 숫자 number_with_interval
  programmers/난이도별/level01.x만큼_간격이_있는_n개의_숫자/develop-sell.js
Labels: JavaScript

#691 [Programmers Lv.1] 핸드폰_번호_가리기 hide_phone_number
  programmers/난이도별/level01.핸드폰_번호_가리기/develop-sell.js
Labels: JavaScript

#696 [Programmers Lv.1] 행렬의 덧셈 matrix_sum
  programmers/난이도별/level01.행렬의_덧셈/develop-sell.js
Labels: JavaScript

#695 [다이나믹프로그래밍]LCS
  BOJ/9251.LCS/6047198844.cpp
Labels: BOJ, C++, DP
