Repository DKU-STUDY/Algorithm, pull requests merged in 2021-05, with the labels that each got.

#891 [LeetCode] Bulb Switcher III
  LeetCode/Array/Bulb_Switcher_III/HyeonJeong.py
Labels: Python, leetcode

#892 Filter_Restaurants_by_Vegan-Friendly,_Price_and_Distance / 하노이 탑 이동 순서 / [leetcode]String_to_Integer_(atoi) / [leetcode]Longest Increasing Subsequence / [leetcode]Maximum Subarray / [leetcode]3Sum / [leetcode]Top K Frequent Elements
  BOJ/11729.하노이 탑 이동 순서/6047198844.py
  LeetCode/Array/3Sum/6047198844.py
  LeetCode/Array/Filter_Restaurants_by_Vegan-Friendly,_Price_and_Distance/6047198844.py
  LeetCode/Array/Maximum_Subarray/6047198844.py
  LeetCode/DP/Longest_Increasing_Subsequence/6047198844.py
  LeetCode/Hash_Table/Top_K_Frequent_Elements/6047198844.py
  LeetCode/Math/String_to_Integer_(atoi)/6047198844.py
Labels: Python

#894 Remove Covered Intervals / Roman to Integer / 하노이의 탑
  LeetCode/Greedy/Remove_Covered_Intervals/607198844.py
  LeetCode/Math/Roman to Integer/6047198844.py
  programmers/난이도별/level03.하노이의_탑/6047198844.py
Labels: Greedy, leetcode

#896 [LeetCode] Create Target Array in the Given Order
  LeetCode/Array/Create_Target_Array_in_the_Given_Order/HyeonJeong.py
Labels: Python, leetcode

#900 [Leetcode] Find Numbers with Even Number of Digits
  LeetCode/Math/Find_Numbers_with_Even_Number_of_Digits/HyeonJeong.py
Labels: Python, leetcode

#902 [level01] 로또의 최고 순위와 최저 순위, 음양 더하기
  programmers/난이도별/level01.같은_숫자는_싫어/develop-sell.js
  programmers/난이도별/level01.로또의_최고_순위와_최저_순위/sangmandu.py
  programmers/난이도별/level01.음양_더하기/sangmandu.py
Labels: EASY, Python, 프로그래머스

#904 [Level01] 신규 아이디 추천, 약수의 개수와 덧셈
  programmers/난이도별/level01.신규_아이디_추천/sangmandu.py
  programmers/난이도별/level01.약수의_개수와_덧셈/sangmandu.py
Labels: EASY, Python, 프로그래머스
