Repository DKU-STUDY/Algorithm, pull requests merged in 2021-08, with the labels that each got.

#1000 [Level03] 외벽 점검
  programmers/난이도별/level03.외벽점검/sangmandu.py
Labels: HARD, Python, 프로그래머스

#1007 [BOJ] 1051. 숫자 정사각형, 1058. 친구, 1110. 더하기 사이클, 1141. 접두사
  BOJ/1051.숫자 정사각형/sangmandu.py
  BOJ/1058.친구/sangmandu.py
  BOJ/1110.더하기 사이클/sangmandu.py
  BOJ/1141.접두사/sangmandu.py
Labels: Python, BOJ, EASY

#1010 [BOJ] 9204.체스 + 2606. 바이러스 + 1138.한 줄로 서기
  BOJ/1138.한 줄로 서기/sangmandu.py
  BOJ/2606.바이러스/sangmandu.py
  BOJ/9204.체스/sangmandu.py
Labels: Python, BOJ, EASY, NORMAL

#1003 [LeetCode] Longest Palindrome
  LeetCode/String/Longest_Palindrome/HyeonJeong.py
Labels: Python

#994 [BOJ] 6198.옥상 정원 꾸미기
  BOJ/1541.잃어버린 괄호/ms9849.cpp
  BOJ/6198.옥상 정원 꾸미기/ms9849.cpp
Labels: C++, BOJ

#1015 [BOJ] 1027.고층건물 + 10826.피보나치 수 4 + 2747. 피보나치 수 + 2748.피보나치 수 + 3182.한동이는 공부가 하기 싫어 + 4150.피보나치 수 7 + 7507.올림픽 경기
  BOJ/1027.고층 건물/sangmandu.py
  BOJ/10826.피보나치 수 4/sangmandu.py
  BOJ/10870.피보나치 수 5/sangmandu.py
  BOJ/2747.피보나치 수/sangmandu.py
  BOJ/2748.피보나치 수/sangmandu.py
  BOJ/3182.한동이는 공부가 하기 싫어!/sangmandu.py
  BOJ/4150.피보나치 수 7/sangmandu.py
  BOJ/7507.올림픽 경기/sangmandu.py
Labels: Python, BOJ, EASY, NORMAL
