Repository DKU-STUDY/Algorithm, pull requests merged in 2021-02, with the labels that each got.

#794 level02. 타겟 넘버
  programmers/난이도별/level02.타겟 넘버/rockmiin.py
Labels: Python, 프로그래머스

#795 [BOJ]DFS와 BFS_c언어
  BOJ/1260.DFS와 BFS/s2uyeoii.c
Labels: BOJ, C

#792 [DP]원주율 외우기 / [DP] QUANITIZE
  알고스팟/QUANTIZE/6047198844.cpp
  알고스팟/원주율 외우기/6047198844.cpp
Labels: BOJ, C++, DP, EASY

#796 [LeetCode] Find Pivot Index
  LeetCode/Array/Find_Pivot_Index/HyeonJeong.java
Labels: JAVA, leetcode

#799 [LeetCode] Number of Recent Calls
  LeetCode/Queue/Number_of_Recent_Calls/HyeonJeong.py
Labels: Python, leetcode

#798 [알고스팟] 타일링 방법의 수 세기 / [알고스팟] 삼각형 위의 최대 경로수 세기
  알고스팟/삼각형 위의 최대 경로수 세기/6047198844.cpp
  알고스팟/타일링 방법의 수 세기/6047198844.cpp
Labels: C++, DP

#800 카카오 개발자 겨울 인턴십 2019
  programmers/카카오 개발자 겨울 인턴십 2019/불량사용자/불량사용자.py
  programmers/카카오 개발자 겨울 인턴십 2019/크레인 인형뽑기 게임/크레인 인형뽑기 게임.py
  programmers/카카오 개발자 겨울 인턴십 2019/튜플/튜플.py
Labels: Python

#802 [Brute-force]테트로미노
  BOJ/14500.테트로미노/6047198844.cpp
Labels: BOJ, C++, EASY

#801 [LeetCode] Design Circular Deque
  LeetCode/Queue/Design_Circular_Deque/HyeonJeong.py
Labels: Python, leetcode

#803 [DP]장마가 찾아왔다 / [DP] 비대칭 타일링
  알고스팟/비대칭 타일링/6047198844.cpp
  알고스팟/장마가 찾아왔다/6047198844.cpp
Labels: BOJ, C++, DP

#805 [DP]폴리오미노
  알고스팟/폴리오미노/6047198844.cpp
Labels: BOJ, C++, DP

#804 [LeetCode] Keyboard Row & Car Pooling
  LeetCode/Array/Keyboard_Row/HyeonJeong.py
  LeetCode/Greedy/Car_Pooling/HyeonJeong.py
Labels: Python, leetcode

#806 [DP]두니발 박사의 탈옥 / [DP]전깃줄
  BOJ/2565.전깃줄/6047198844.cpp
  알고스팟/두니발 박사의 탈옥/6047198844.cpp
Labels: BOJ, C++, DP, EASY

#807 [LeetCode] Is Subsequence
  LeetCode/Greedy/Is_Subsequence/HyeonJoeng.py
Labels: Python, leetcode

#808 [DP] 파일합치기 / [DP]1학년
  BOJ/11066.파일 합치기/6047198844.cpp
  BOJ/5557.1학년/6047198844.cpp
Labels: BOJ, C++, DP, NORMAL

#810 level02. 수식 최대화
  programmers/난이도별/level02.수식_최대화/rockmiin.py
Labels: Python, 프로그래머스

#809 [LeetCode] Remove Covered Intervals
  LeetCode/Greedy/Remove_Covered_Intervals/HyeonJeong.py
Labels: Python, leetcode

#812 [DP]파이프 옮기기1
  BOJ/17070.파이프 옮기기1/6047198844.cpp
Labels: BOJ, C++, DP

#811 [LeetCode] Arranging Coins
  LeetCode/Array/Arranging_Coins/HyeonJeong.java
Labels: JAVA, leetcode

#815 [DP]울타리 잘라내기 2
  알고스팟/울타리 잘라내기 2/6047198844.cpp
Labels: C++, stack

#814 Swap Nodes in Pairs
  LeetCode/Linked_List/Swap_Nodes_in_Pairs/HyeonJeong.java
Labels: JAVA, leetcode

#816 [stack]Mismatched Brackets
  알고스팟/Mismatched Brackets/6047198844.cpp
  알고스팟/외계 신호 분석/6047198844.cpp
Labels: C++, stack

#817 Maximum 69 Number
  LeetCode/String/Maximum_69_Number/HyeonJeong.py
Labels: Python, leetcode

#818 [brute-force]체스판 다시 칠하기 / [tree]트리 순회 순서 변경 / [DP] 가장 큰 증가 부분 수열
  BOJ/1018.체스판 다시 칠하기/6047198844.cpp
  BOJ/11055.가장 큰 증가 부분 수열/6047198844.cpp
  알고스팟/트리 순회 순서 변경/6047198844.cpp
Labels: BOJ, C++, 완전탐색

#820 Remove Linked List Elements
  LeetCode/Linked_List/Remove_Linked_List_Elements/HyeonJeong.java
  LeetCode/Linked_List/Swap_Nodes_in_Pairs/HyeonJeong.java
Labels: JAVA, leetcode

#822 Fair Candy Swap
  LeetCode/Array/Fair_Candy_Swap/HyeonJeong.java
Labels: JAVA, leetcode

#821 [DP]가장 긴 바이토닉 부분 수열 / [DP] 카드 구매하기
  BOJ/11052. 카드 구매하기/6047198844.cpp
  BOJ/11054.가장 긴 바이토닉 부분 수열/6047198844.cpp
Labels: BOJ, C++, DP

#824 [소수]베르트랑 공준
  BOJ/4948.베르트랑 공준/6047198844.cpp
Labels: BOJ, C++, Math

#823 Palindrome Linked List
  LeetCode/Linked_List/Palindrome_Linked_List/HyeonJeong.java
Labels: JAVA, leetcode

#826 [완전탐색]덩치 / [완전탐색]연산자 끼워넣기
  BOJ/14888.연산자 끼워넣기/6047198844.cpp
  BOJ/7568.덩치/6047198844.cpp
Labels: C++, EASY, 완전탐색

#830 [알고스팟] 요새
  알고스팟/요새/6047198844.cpp
Labels: C++, NORMAL, 알고스팟

#827 Divisor Game
  LeetCode/Math/Divisor_Game/HyeonJeong.java
Labels: JAVA, leetcode

#831 [트리]이진 검색 트리 / [트리] 너드인가, 너드가 아닌가2
  BOJ/5639.이진 검색 트리/6047198844.cpp
  알고스팟/너드인가, 너드가 아닌가 2/6047198844.cpp
Labels: BOJ, C++, 알고스팟

#834 [BOJ]30 / [트립]삽입 정렬 뒤집기 / [분할정복] 팬미팅
  BOJ/10610.30/6047198844.cpp
  알고스팟/삽입 정렬 뒤집기/6047198844.cpp
  알고스팟/팬미팅/6047198844.cpp
Labels: BOJ, C++

#836 Richest Customer Wealth
  LeetCode/Array/Richest_Customer_Wealth/HyeonJeong.java
Labels: EASY, JAVA, leetcode
