Repository DKU-STUDY/Algorithm, pull requests merged in 2021-03, with the labels that each got.

#837 [수학]통계학 / [힙] 변화하는 중간값
  BOJ/2108.통계학/6047198844.cpp
  알고스팟/변화하는 중간 값/6047198844.cpp
Labels: BOJ, EASY

#838 [정렬]단어 정렬 / [정렬]소트인사이드 / [힙]최대 힙 / [힙]최소 힙
  BOJ/11279.최대 힙/6047198844.cpp
  BOJ/1181.단어 정렬/6047198844.cpp
  BOJ/1427.소트인사이드/6047198844.cpp
  BOJ/1927.최소 힙/6047198844.cpp
Labels: BOJ, C++

#839 [구현]신규 아이디 추천 / [구현]메뉴 리뉴얼 / [힙] 절댓값 힙
  BOJ/11286.절댓값 힙/6047198844.cpp
  programmers/난이도별/level01.신규_아이디_추천/6047198844.txt
  programmers/난이도별/level02.메뉴_리뉴얼/6047198844.cpp
Labels: C++, 프로그래머스

#835 5017.스타트 링크
  BOJ/10451.순열 사이클/rockmiin.py
  BOJ/5014.스타트 링크/rockmiin.py
Labels: BOJ, Python

#842 [수학]Fly me to the Alpha Centauri / [스택] 오큰수
  BOJ/1011.Fly me to the Alpha Centauri/6047198844.cpp
  BOJ/17298.오큰수/6047198844.cpp
Labels: BOJ, C++

#840 [알고스팟] 피크닉
  알고스팟/피크닉/dkdlelk99.cpp
Labels: C++, 알고스팟

#846 [DFS]유기농 배추 / [brute-force] 블랙잭
  BOJ/1012.유기농 배추/6047198844.cpp
  BOJ/2798.블랙잭/6047198844.java
Labels: BOJ, C++

#847 [DFS]Letter Comibinations of a Phone Number / [DFS] /Number_of_Islands
  LeetCode/DFS/Letter Combinations of a Phone Number/6047198844.cpp
  LeetCode/DFS/Number_of_Islands/6047198844.cpp
Labels: EASY, leetcode

#848 [DFS]Validate_Binary_Search_Tree / [DFS]Validate_Binary_Search_Tree
  LeetCode/DFS/Recover_Binary_Search_Tree/6047198844.cpp
  LeetCode/DFS/Validate_Binary_Search_Tree/6047198844.cpp
Labels: DFS, leetcode

#849 [Array]Minimum_Value_to_Get_Positive_Step_by_Step_Sum / [DFS] 오일러 회로
  BOJ/1199.오일러 회로/6047198844.cpp
  LeetCode/Array/Minimum_Value_to_Get_Positive_Step_by_Step_Sum/6047198844.cpp
Labels: EASY, leetcode

#845 [알고스팟] 시계맞추기
  알고스팟/시계맞추기/dkdlelk99.cpp
Labels: C++, 알고스팟, 완전탐색

#850 [sort]Sort List / [dfs] Convert BST to Greater Tree
  LeetCode/DFS/Convert_BST_to_Greater_Tree/6047198844.cpp
  LeetCode/Sort/6047198844.cpp
Labels: C++, EASY, leetcode

#851 [leetCode]Minimum_Window_Substring
  LeetCode/Sliding_Window/Minimum_Window_Substring/6047198844.cpp
Labels: NORMAL, leetcode, 해시

#852 [LinkedList]Merge Two Sorted Lists / [Backtracking]스도쿠
  BOJ/2580.스도쿠/6047198844.cpp
  LeetCode/Linked_List/Merge Two Sorted Lists/6047198844.cpp
Labels: C++, leetcode

#853 [stack]Backspace String Compare / [divide-and-conquer] 별찍기-10 / [math] 골드바흐의 추측 / [math] 직사각형에서 탈출 / [math] 네 번째 점 / [math] 택시 기하학
  BOJ/1085.직사각형에서 탈출/6047198844.cpp
  BOJ/1541.잃어버린 괄호/6047198844.cpp
  BOJ/2447.별찍기 - 10/6047198844.cpp
  BOJ/3009.네 번째 점/6047198844.cpp
  BOJ/3053.택시 기하학/6047198844.cpp
  BOJ/9020.골드바흐의 추측/6047198844.cpp
  LeetCode/Stack/Backspace-String-Compare/6047198844.cpp
Labels: C++, leetcode, stack
