Repository DKU-STUDY/Algorithm, pull requests merged in 2021-04, with the labels that each got.

#855 [tree]Flatten Binary Tree to Linked List / [알고스팟]단어 제한 끝말잇기 / [backtracking] N-Queens
  LeetCode/Backtracking/N-Queens/6047198844.txt
  LeetCode/DFS/Flatten Binary Tree to Linked List/6047198844.txt
  알고스팟/단어 제한 끝말잇기/6047198844.cpp
Labels: NORMAL, leetcode

#856 [backtracking]N-Queens II / [leetcode]combinations / [leetcode]Combination Sum / [leetcode]Combination Sum II / [leetcode]Combination Sum III / [leetcode]Permutations&[leetcode]Combination Sum IV / [leetcode]Next Permutation / [leetcode]Permutations II
  LeetCode/Backtracking/Combination Sum II/6047198844.cpp
  LeetCode/Backtracking/Combination Sum III/6047198844.cpp
  LeetCode/Backtracking/Combination Sum IV/6047198844.cpp
  LeetCode/Backtracking/Combination_Sum/6047198844.cpp
  LeetCode/Backtracking/Combinations/6047198844.cpp
  LeetCode/Backtracking/N-Queens/6047198844.cpp
  LeetCode/Backtracking/N-Queens_II/6047198844.cpp
  LeetCode/Backtracking/Next Permutation/6047198844.cpp
  LeetCode/Backtracking/Permutations II/6047198844.cpp
  LeetCode/Backtracking/Permutations/6047198844.cpp
Labels: C++, NORMAL, leetcode

#857 [leetcode]Symmetric tree & [leetcode]Maximum depth of Binary Tree & [leetcode]Word_Break_II
  LeetCode/DFS/Maximum_Depth_of_Binary_Tree/6047198844.java
  LeetCode/DFS/Symmetric_Tree/6047198844.java
  LeetCode/DP/Word_Break_II/6047198844.cpp
Labels: DFS, EASY, JAVA

#860 [Leetcode] Single Number III
  LeetCode/Array/Single_Number_III/HyeonJeong.py
Labels: Python, leetcode

#862 [Leetcode] Powerful Integers
  LeetCode/Math/Powerful_Integers/HyeonJeong.py
Labels: Python, leetcode

#863 [백준]검문 / [백준]이항 계수2 / [leetcode]Construct Binary Tree from Inorder and Postorder Traversal
  BOJ/11051.이항 계수 2/6047198844.cpp
  BOJ/2981.검문/6047198844.cpp
  LeetCode/Array/Construct Binary Tree from Inorder and Postorder Traversal/6047198844.cpp
Labels: BOJ, Math, leetcode

#867 7569. 토마토
  BOJ/7569.토마토/rockmiin.py
Labels: BOJ, Python

#871 [LeetCode] Kth Missing Positive Number
  LeetCode/Array/Kth_Missing_Positive_Number/HyeonJeong.py
Labels: Python, leetcode

#874 10844.쉬운 계단 수 #DP
  BOJ/10844.쉬운 계단 수/rockmiin.py
Labels: BOJ, Python

#876 11052. 카드 구매하기 #DP
  BOJ/11052.카드 구매하기/rockmiin.py
Labels: BOJ, Python

#882 [LeetCode] Factorial Trailing Zeroes
  LeetCode/Math/Factorial_Trailing_Zeroes/HyeonJeong.py
Labels: Python, leetcode

#881 [boj]단어 공부 / [leetcode]Increasing_Order_Search_Tree
  BOJ/1157.단어 공부/6047198844.py
  LeetCode/Tree/Increasing_Order_Search_Tree/6047198844.cpp
Labels: Python

#883 Find the Duplicate Number
  LeetCode/Array/Find_the_Duplicate_Number/6047198844.py
Labels: Python

#885 [leetcode]Stone_Game II
  LeetCode/DP/Stone_Game II/6047198844.cpp
  LeetCode/DP/Stone_Game II/6047198844.py
Labels: Python

#886 [Programmers] 최솟값 만들기
  programmers/난이도별/level02.최솟값_만들기/HyeonJeong.py
Labels: Python
