Repository DKU-STUDY/Algorithm, pull requests merged in 2021-01, with the labels that each got.

#694 2178. 미로 탐색
  BOJ/2178.미로 탐색/rockmiin.py
Labels: BOJ, Python

#698 [BOJ]정수 삼각형
  BOJ/1932.정수 삼각형/6047198844.cpp
Labels: BOJ, C++, DP

#693 [LeetCode] Merge Intervals & Unique Paths
  LeetCode/Array/Merge_Intervals/HyeonJeong.py
  LeetCode/Array/Unique_Paths/HyeonJeong.py
Labels: Python, leetcode

#699 4963.섬의 개수
  BOJ/4963.섬의 개수/rockmiin.py
Labels: BOJ, Python

#703 [LeetCode] Summary Ranges
  LeetCode/Array/Summary_Ranges/HyeonJeong.java
Labels: JAVA, leetcode

#701 [DP]01타일
  BOJ/1904.01타일/6047198844.cpp
Labels: BOJ, C++, DP, EASY

#704 [LeetCode] Merge Intervals, Path with Maximum Gold
  LeetCode/Array/Merge_Intervals/kth496.kt
  LeetCode/Backtracking/Path_with_Maximum_Gold/kth496.kt
Labels: leetcode

#705 2606. 바이러스
  BOJ/2606.바이러스/rockmiin.py
Labels: BOJ, Python

#702 [Programmers Lv.1] 예산 budget_problem
  programmers/난이도별/level01.예산/develop-sell.js
Labels: JavaScript

#700 [Programmers LV.2] 카펫
  programmers/난이도별/level02.카펫/dkdlelk99.py
Labels: NORMAL, Python, 프로그래머스

#706 [LeetCode] Maximum Product of Three Numbers
  LeetCode/Math/Maximum_Product_of_Three_Numbers/HyeonJeong.java
Labels: JAVA, leetcode

#707 [DP]신나는 함수 실행
  BOJ/9184.신나는 함수 실행/6047198844.cpp
Labels: BOJ, C++, DP

#708 2644.촌수 계산
  BOJ/2644.촌수 계산/rockmiin.py
Labels: BOJ, Python

#697 [level03]배달, 기둥과 보 [level04]사칙연산
  programmers/난이도별/level03.기둥과보/sangmandu.py
  programmers/난이도별/level03.배달/sangmandu.py
  programmers/난이도별/level04.사칙연산/sangmandu.py
Labels: HARD, NORMAL, Python, 프로그래머스

#711 [완전탐색]스타트링크 && [DP&DFS]내리막길
  BOJ/1520.내리막길/6047198844.cpp
  BOJ/5014.스타트링크/6047198844.cpp
Labels: BOJ, C++, EASY, 완전탐색

#709 [Programmers Lv.2] 구명 보트
  programmers/난이도별/level02.구명보트/dkdlelk99.py
Labels: NORMAL, Python, 프로그래머스

#712 2667. 단지번호붙이기
  BOJ/2667. 단지번호붙이기/rockmiin.py
Labels: BOJ, Python

#714 [Programmers Lv.1] 모의고사mock_test
  programmers/난이도별/level01.모의고사/develop-sell.js
Labels: JavaScript

#710 [LeetCode] Single Number
  LeetCode/Array/Single_Number/HyeonJeong.java
Labels: JAVA, leetcode

#713 [LeetCode] divisor-game
  LeetCode/Dynamic_Programming/Divisor_Game/sangmandu.py
Labels: DP, Python, leetcode

#716 10867.중복 빼고 정렬하기 & 11399. ATM
  BOJ/10867.중복 뺴고 정렬하기/rockmiin.py
  BOJ/11399.ATM/rockmiin.py
Labels: BOJ, Python

#720 [DFS/Brute_force]N-Queen
  BOJ/9663.N-Queen/6047198844.cpp
Labels: BOJ, C++, EASY

#718 [LeetCode] Third Maximum Number
  LeetCode/Array/Third_Maximum_Number/HyeonJeong.java
Labels: JAVA, leetcode

#719 [LeetCode] best-time-to-buy-and-sell-stock, find-the-town-judge
  LeetCode/DP/Best_Time_to_Buy_and_Sell_Stock/sangmandu.py
  LeetCode/DP/Coin_Change/JeongShin.js
  LeetCode/DP/Divisor_Game/sangmandu.py
  LeetCode/DP/Edit_Distance/JeongShin.js
  LeetCode/DP/MinimumPathSum/JeongShin.js
  LeetCode/DP/MinimumPathSum/ReadMe.md
  LeetCode/DP/Unique_Paths/JeongShin.js
  LeetCode/DP/Unique_Paths/ReadMe.md
  LeetCode/DP/Word_Break/JeongShin.js
  LeetCode/Graph/Find the Town Judge/sangmandu.py
Labels: EASY, Python, leetcode

#717 [Programmers Lv.02] 멀쩡한 사각형
  programmers/난이도별/level02.멀쩡한_사각형/README.md
  programmers/난이도별/level02.멀쩡한_사각형/dkdlelk99.py
Labels: NORMAL, Python, 프로그래머스

#722 7576.토마토
  BOJ/7576.토마토/rockmiin.py
Labels: BOJ, Python

#723 [BFS]DSLR
  BOJ/9019.DSLR/6047198844.cpp
Labels: BOJ, C++, EASY

#724 [LeetCode] Reverse String
  LeetCode/String/Reverse_String/HyeonJeong.java
Labels: JAVA, leetcode

#721 [Programmers Lv.1 다트게임] dart_game
  programmers/난이도별/level01.다트_게임/develop-sell.js
Labels: JavaScript

#725 [LeetCode] is-subsequence, min-cost-climbing-stairs, all-paths-from-source-to-target, all-paths-from-source-to-target
  LeetCode/DP/Is Subsequence/sangmandu.py
  LeetCode/DP/Min Cost Climbing Stairs/sangmandu.py
  LeetCode/Graph/All Paths From Source to Target/sangmandu.py
  LeetCode/Graph/Minimum Number of Vertices to Reach All Nodes/sangmandu.py
Labels: EASY, Python, leetcode

#727 [다익스트라]최단경로,파티,녹색 옷 입은 애가 젤다지?
  BOJ/1238.파티/6047198844.cpp
  BOJ/1753.최단경로/6047198844.cpp
  BOJ/4485.녹색 옷 입은 애가 젤다지/6047198844.cpp
Labels: BOJ, C++

#730 1764. 듣보잡
  BOJ/1764.듣보잡/rockmiin.py
Labels: BOJ, Python

#729 Create s2uyeoii.cpp
  programmers/난이도별/level02.가장_큰_수/s2uyeoii.cpp
Labels: C

#728 [LeetCode] Check If It Is a Straight Line
  LeetCode/Math/Check_If_It_Is_a_Straight_Line/HyeonJeong.java
Labels: JAVA, leetcode

#733 [LeetCode] To Lower Case
  LeetCode/String/To_Lower_Case/HyeonJeong.java
Labels: JAVA, leetcode

#732 [구현]큰 수 A+B / [다익스트라]특정한 최단 경로
  BOJ/10757.큰 수 A+B/6047198844.cpp
  BOJ/1504.특정한 최단 경로/6047198844.cpp
Labels: BOJ, C++, EASY

#726 [Programmers Lv.02] 최솟값 만들기
  programmers/난이도별/level02.최솟값_만들기/README.md
  programmers/난이도별/level02.최솟값_만들기/dkdlelk99.py
Labels: EASY, Python, 프로그래머스

#735 [LeetCode] Flipping an Image
  LeetCode/Array/Flipping_an_Image/HyeonJeong.java
Labels: JAVA, leetcode

#734 2583.영역 구하기 & 14502. 연구소
  BOJ/14502.연구소/rockmiin.py
  BOJ/2583.영역 구하기/rockmiin.py
Labels: BOJ, Python

#715 Solved BOJ Class04 1786.찾기
  BOJ/solved.ac_class/Class04/1786.찾기/sAp00n.py
Labels: BOJ, NORMAL, Python

#738 [LeetCode] Kth Largest Element in an Array
  LeetCode/Divide_and_Conquer/Kth_Largest_Element_in_an_Array/HyeonJeong.java
Labels: JAVA, leetcode

#737 [분할정복]색종이만들기 / [분할정복]곱셈
  BOJ/1504.특정한 최단 경로/6047198844.cpp
  BOJ/1629.곱셈/6047198844.cpp
  BOJ/2630.색종이 만들기/6047198844.cpp
Labels: BOJ, C++

#731 [LeetCode] climbing-stairs, sort-integers-by-the-power-value
  LeetCode/DP/Climbing Stairs/sangmandu.py
  LeetCode/Graph/Sort Integers by The Power Value/sangmandu.py
Labels: EASY, Python, leetcode

#740 1931. 회의실 배정
  BOJ/1931. 회의실 배정/rockmiin.py
Labels: BOJ, Python

#736 [Programmers Lv.02] 올바른 괄호
  programmers/난이도별/level02.올바른_괄호/README.md
  programmers/난이도별/level02.올바른_괄호/dkdlelk99.py
Labels: EASY, Python, 프로그래머스

#745 [분할정복]쿼드트리
  알고스팟/울타리 잘라내기/쿼드트리.cpp
Labels: C++, EASY

#669 [Programmers Lv. 1] 콜라츠 추측, 하샤드 수, 직사각형 별찍기, 이상한 문자 만들기
  programmers/난이도별/level01.이상한_문자_만들기/Jaewon0702.py
  programmers/난이도별/level01.직사각형_별찍기/Jaewon0702.py
  programmers/난이도별/level01.콜라츠_추측/Jaewon0702.py
  programmers/난이도별/level01.하샤드_수/Jaewon0702.py
Labels: Python

#747 [분할정복]울타리 잘라내기
  알고스팟/울타리 잘라내기/울타리_잘라내기.cpp
  알고스팟/쿼드트리/쿼드트리.cpp
Labels: C++, NORMAL

#746 [LeetCode] Ransom_Note
  LeetCode/Linked_List/Add_Two_Numbers/HyeonJeong.py
  LeetCode/String/Ransom_Note/HyeonJeong.java
Labels: JAVA, leetcode

#748 [LeetCode] Add Two Numbers2
  LeetCode/Linked_List/Add_Two_Numbers/HyeonJeong.py
Labels: JAVA, leetcode

#752 [분할정복]행렬 제곱
  BOJ/10830.행렬 제곱/10830_행렬 제곱.cpp
Labels: BOJ, C++, EASY

#744 10026. 적록 색약 & 2206. 벽 부수고 이동하기
  BOJ/10026. 적록 색약/rockmiin.py
  BOJ/10026. 적록 색약/적록색약_10026.py
  BOJ/11047.동전0/rockmiin.py
  BOJ/2206.벽 부수고 이동하기/rockmiin.py
Labels: BOJ, Python

#753 [분할정복]피보나치수 6
  BOJ/11444.피보나치 수 6/11444_피보나치 수 6.cpp
Labels: BOJ, C++, NORMAL

#751 [LeetCode] Remove Duplicates from Sorted List
  LeetCode/Linked_List/Remove_Duplicates_from_Sorted_List/HyeonJeong.py
Labels: Python, leetcode

#750 [c언어]level02.올바른괄호
  programmers/난이도별/level02.올바른_괄호/s2uyeoii.c
Labels: C, EASY, 프로그래머스

#754 [LeetCode] Sort Colors
  LeetCode/Array/Sort_Colors/HyeonJeong.py
Labels: Python, leetcode

#755 2206. 벽 부수고 이동하기 [수정] && 7562. 나이트의 이동
  BOJ/2206.벽 부수고 이동하기/rockmiin.py
  BOJ/7562. 나이트의 이동/rockmiin.py
Labels: BOJ, Python

#749 [Programmers Lv.02] 괄호 변환
  programmers/난이도별/level02.행렬의곱셈/README.md
  programmers/난이도별/level02.행렬의곱셈/dkdlelk99.py
Labels: EASY, Python, 프로그래머스

#741 Algospot QUADTREE
  Algospot/QUADTREE/sAp00n.py
Labels: NORMAL, Python, 문자열

#743 [BOJ] 14502. 연구소, [LeetCode] maximum-subarray, regions-cut-by-slashes
  BOJ/14502.연구소/sangmandu.py
  LeetCode/DP/Maximum Subarray/sangmandu.py
  LeetCode/Graph/Regions Cut By Slashes/sangmandu.py
Labels: BOJ, NORMAL, Python, leetcode

#757 [LeetCode] Max Consecutive Ones
  LeetCode/Array/Max_Consecutive_Ones/HyeonJeong.java
Labels: JAVA, leetcode

#756 [분할정복]히스토그램 / [다익스트라]최소비용구하기
  BOJ/1725.히스토그램/1725_히스토그램.cpp
  BOJ/1916.최소비용 구하기/1916_최소비용 구하기.cpp
Labels: BOJ, C++, EASY

#760 [LeetCode] Intersection of Two Arrays
  LeetCode/Array/Intersection_of_Two_Arrays/HyeonJeong.py
Labels: Python, leetcode

#761 1389. 케빈 베이컨의 6단계 법칙 #BFS
  BOJ/1389. 케빈 베이컨의 6단계 법칙/rockmiin.py
Labels: BOJ, Python

#762 [분할정복/페르마의소정리/이항계수]이항계수3 , [벨만포드]타임머신
  BOJ/11401.이항계수 3/6047198844.cpp
  BOJ/11657.타임머신/6047198844.cpp
Labels: BOJ, C++, NORMAL

#763 [LeetCode] Find Common Characters & Rotate Array
  LeetCode/Array/Find_Common_Characters/HyeonJeong.py
  LeetCode/Array/Rotate_Array/HyeonJeong.py
Labels: Python, leetcode

#764 1946. 신입사원
  BOJ/1946.신입 사원/rockmiin.py
Labels: BOJ, Python

#765 [DP]외발뛰기
  알고스팟/외발뛰기/6047198844.cpp
  알고스팟/울타리 잘라내기/6047198844.cpp
  알고스팟/쿼드트리/6047198844.cpp
Labels: BOJ, C++, DP, EASY

#759 BOJ 1030.프렉탈 평면, 2104.부분배열 1725.히스토그램 6549.히스토그램에서 가장 큰 직사각형 algospot FENCE, FANMEETING
  BOJ/1030.프렉탈 평면/sAp00n.py
  BOJ/1725.히스토그램/sAp00n.py
  BOJ/2104.부분배열/sAp00n.py
  BOJ/6549.히스토그램에서 가장 큰 직사각형/sAp00n.py
  알고스팟/울타리 잘라내기/sAp00n.py
  알고스팟/쿼드트리/sAp00n.py
  알고스팟/팬미팅/sAp00n.py
Labels: BOJ, HARD, Python

#767 1149.RGB거리
  BOJ/1149. RGB거리/rockmiin.py
Labels: BOJ, Python

#769 [LeetCode] range-sum-query-immutable, keys-and-rooms, add-two-numbers
  LeetCode/DP/Range Sum Query - Immutable/sangmandu.py
  LeetCode/Graph/keys-and-rooms/sangmandu.py
  LeetCode/Linked_List/sangmandu.py
Labels: EASY, Python, leetcode

#766 [LeetCode] Squares of a Sorted Array
  LeetCode/Array/Squares_of_a_Sorted_Array/HyeonJeong.java
Labels: JAVA, leetcode

#768 [분할정복]퍼즐자르기/[수학]마지막 팩토리얼 수/[수학]터렛
  BOJ/1002.터렛/6047198844.cpp
  BOJ/14727.퍼즐 자르기/6047198844.cpp
  BOJ/2553.마지막 펙토리얼 수/6047198844.cpp
Labels: BOJ, C++, EASY

#770 1463. 1로 만들기
  BOJ/1463. 1로 만들기/rockmiin.py
Labels: BOJ, Python

#771 [LeetCode] Reverse Linked List ll
  LeetCode/Linked_List/Reverse_Linked_List_II/HyeonJeong.py
Labels: Python, leetcode

#772 [DP] 가장 긴 증가하는 부분 수열 4
  BOJ/14002.가장 긴 증가하는 부분 수열 4/와일드카드.cpp
Labels: BOJ, C++, DP, NORMAL

#774 [LeetCode] Maximum Swap
  LeetCode/Array/Maximum_Swap/HyeonJeong.py
Labels: Python, leetcode

#773 [DP] 와일드카드 / [인덱스 트리] 구간 합 구하기 / [인덱스 트리] 달리기 / [정렬] 로프
  BOJ/2042.구간 합 구하기/6047198844.cpp
  BOJ/2217.로프/6047198844.cpp
  BOJ/2517.달리기/6047198844.cpp
  알고스팟/와일드카드/6047198844.cpp
Labels: BOJ, C++, DP, NORMAL

#775 2217. 로프
  BOJ/2217. 로프/rockmiin.py
Labels: BOJ, Python

#776 [BOJ]10773.제로_c
  BOJ/10773.제로/s2uyeoii.c
Labels: BOJ, C, stack

#778 2156.포도주 시식
  BOJ/2156.포도주 시식/rockmiin.py
Labels: BOJ, Python

#777 [LeetCode] Array Partition I
  LeetCode/Array/Array_Partition_I/HyeonJeong.java
Labels: JAVA, leetcode

#780 [벨만-포드]오민식의 고민 / [벨만-포드]골목길 / [수학]분산처리 / [구현]명령 프롬프트 /[플로이드] 플로이드
  BOJ/1009.분산처리/6047198844.cpp
  BOJ/1032.명령 프롬프트/6047198844.cpp
  BOJ/11404.플로이드/6047198844.cpp
  BOJ/1219.오민식의 고민/6047198844.cpp
  BOJ/1738.골목길/6047198844.cpp
Labels: BOJ, C++, NORMAL

#758 [Programmers Lv.02] 이진 변환 반복하기
  programmers/난이도별/level02.이진_변환_반복하기/README.md
  programmers/난이도별/level02.이진_변환_반복하기/dkdlelk99.py
Labels: EASY, Python, 프로그래머스

#781 [프로그래머스] 메뉴 리뉴얼
  programmers/난이도별/level02.메뉴 리뉴얼/rockmiin.py
Labels: Python, 프로그래머스

#782 [LeetCode] Distribute Candies to People
  LeetCode/Math/Distribute_Candies_to_People/HyeonJeong.java
Labels: JAVA, leetcode

#783 [프로그래머스]level01.크레인 인형뽑기 게임
  programmers/난이도별/level01.크레인_인형뽑기_게임/rockmiin.py
Labels: Python

#784 [플로이드]저울 / [그리디]저울 / [플로이드]역사
  BOJ/10159.저울/6047198844.cpp
  BOJ/1613.역사/6047198844.cpp
  BOJ/2437.저울/6047198844.cpp
Labels: BOJ, C++, NORMAL

#785 [LeetCode] Make The String Great
  LeetCode/String/Make_The_String_Great/HyeonJeong.py
Labels: Python, leetcode

#786 [BOJ]3055. 탈출
  BOJ/3055.탈출/rockmiin.py
Labels: BOJ, Python

#787 [DP]삼각형 위의 최대 경로 / [DP] 최대 증가 부분 수열
  알고스팟/삼각형 위의 최대 경로/6047198844.cpp
  알고스팟/최대 증가 부분 수열/6047198844.cpp
Labels: BOJ, C++, DP, EASY

#788 [LeetCode] Assign Cookies
  LeetCode/Greedy/Assign_Cookies/HyeonJeong.java
  LeetCode/String/Make_The_String_Great/HyeonJeong.py
Labels: JAVA, leetcode

#789 11403.경로 찾기
  BOJ/11403.경로 찾기/rockmiin.py
Labels: BOJ, Python

#790 [DP] 합친 LIS
  알고스팟/합친 LIS/6047198844.cpp
Labels: BOJ, C++, DP

#791 [LeetCode] Sort Array By Parity II
  LeetCode/Array/Sort_Array_By_Parity_II/HyeonJeong.java
Labels: JAVA, leetcode

#793 [LeetCode] Can Place Flowers
  LeetCode/Greedy/Can_Place_Flowers/HyeonJeong.java
Labels: JAVA, leetcode
